<div class="row">
     <div class="span12">
        
        <!-- Gallery starts -->
        
        <div class="gallery">
           <div class="row">
              <div class="span12">
              
                 <!-- Gallery hero -->
                 <div class="hero">
                    <!-- Title. Don't forget the <span> tag -->
                    <h3><span>Gallery</span></h3>
                    <!-- para -->
                 </div>
                 <!-- Gallery -->
                 
                <div id="gallery">
                	<% Dish.all.each do |dish| %>
                    <!-- For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyPhoto[pp_gal]".-->
                   <a href="<%= dish.photo.url(:original) %>" class="prettyPhoto[pp_gal]">
                       <img src="<%= dish.photo.url(:small) %>" alt=""/>
                   </a>
                  <% end %>
                </div>
                 
              </div>
           </div>
        </div>
        
        
        <!-- gallery ends -->
        
     </div>
  </div>