<div class="row">
     <div class="span12">
     
        <!-- Slider (Flex Slider -->
        
        <div class="flexslider">
          <ul class="slides">
              <!-- Each slide should be enclosed inside li tag. -->
              
              <!-- Slide #1 -->
            <li>
              <!-- Image -->
              <img src="assets/photos/1.jpg" />
              <!-- Caption -->
              <div class="flex-caption">
                 <!-- Title -->
                 <h3><span>New fresh & delicious</span></h3>
                 <!-- Para -->
                 <p>Bringing the best of British cuisine to AQUA’s beautiful restaurants in Bristol and Bath.</p>
              </div>
            </li>
            
              <!-- Slide #2 -->
            <li>
              <img src="assets/photos/2.jpg" />
              <div class="flex-caption">
                 <h3><span>Gluten-free soups!</span></h3>
                 <p>Good day to you! Our Gluten-free soups today are Black bean and squash or a chicken and sweet potato.</p>
              </div>                  
            </li>
            
            <li>
              <img src="assets/photos/3.jpg" />
              <div class="flex-caption">
                 <h3><span>Welcome!</span></h3>
                 <p>Chic and contemporary with a modern British menu</p>
              </div>                  
            </li>
            
            <li>
              <img src="assets/photos/4.jpg" />
              <div class="flex-caption">
                 <h3><span>Find us!</span></h3>
                 <p>Roy's Anaheim is centrally located in the Anaheim Resort in the beautiful Gardenwalk, which is conveniently located 5 mins from the Anaheim Convention Center. Whether you are planning a corporate function, social gathering, or a family affair, let the spirit of Aloha and all of our private event options make your dining experience a memorable one!</p>
              </div>                  
            </li>
          </ul>
        </div>
        
        <!-- Slider ends -->
        
        <!-- Service starts -->
        
        <div class="services">
              <div class="row">
                 <div class="span4">
                 
                    <!-- Service #1 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-coffee"></i> Awesome coffee</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>
                    
                 </div>
                 <div class="span4">
                 
                    <!-- Service #2 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-food"></i> Best food</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>                     
                    
                 </div>
                 <div class="span4">
                 
                    <!-- Service #3 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-glass"></i> Unlimited drinks</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>  
                    
                 </div>
              </div>
        </div>
        
        <!-- Serivce ends -->
        
        <!-- Recent post starts. Note down the class name before editing. -->
        
        <div class="rposts">
           <h4>Recent Posts</h4>
           <div class="row">
              <div class="span6">
              
                 <!-- Recent post 1. Class name should be "rpost1" -->
                 <div class="rpost1">
                    <!-- Image -->
                    <div class="rimg">
                       <img src="assets/photos/r1.jpg" alt="" />
                    </div>
                    <!-- Title & Para -->
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                    </div>
                 </div>
                 
                 
                 <!-- Recent post 2. Class name should be "rpost2" -->
                 <div class="rpost2">
                    <div class="rimg">
                       <img src="assets/photos/r2.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                    </div>                     
                 </div>   

                 
              </div>
              <div class="span6">
              
              
                 <!-- Recent post 3. Class name should be "rpost1" -->
                 <div class="rpost1">
                    <div class="rimg">
                       <img src="assets/photos/r3.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                    </div>
                 </div>
                 
                 
                 <!-- Recent post 4. Class name should be "rpost2" -->
                 <div class="rpost2">
                    <div class="rimg">
                       <img src="assets/photos/r4.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                    </div>                     
                 </div>  

                 
              </div>
           </div>
        </div>
        
        <!-- Recent post ends -->            
        
        
        <!-- Clients starts -->
           
        <div class="row">
           <div class="span12">
              <div class="clients">
                 <a href="#"><img src="assets/clients/twitter_b.png" alt="" /></a>
                 <a href="#"><img src="assets/clients/facebook_b.png" alt="" /></a>
                 <a href="#"><img src="assets/clients/youtube_b.png" alt="" /></a>
              </div>
           </div>
        </div>
        
        <!-- Clients ends -->
        
     </div>
  </div>