<div class="tabbable">
	<h3>Tables</h3>
	<hr/>

<table>
	<thead>
	  <tr>
	    <th>Number</th>
	    <th>Active Orders</th>
	  </tr>
  </thead>

<% @tables.each do |table| %>
	<% active_orders = table.get_active_orders %>
  <tr>
    <td><%= table.number %></td>
    <td><%= table.persons %></td>
    <td>
  		<% if active_orders.present? %>
  			<% active_orders.each do |order| %>
          		<%= link_to "Order #{order.id}", "/orders/#{order.id}" %>
        	<% end %>
  		<% end %>	
    </td>
  </tr>
<% end %>
</table>

</div>