<div class="row">
 <div class="span12">
    
    <!-- Login starts -->
    
    <div class="logreg">
       <div class="row">
          <div class="span12">
             <div class="logreg-page">
							
							<h3>Edit Table</h3>                        
                <hr />
<%= render 'form' %>


</div>
             </div>
          </div>
       </div>
    </div>
    
    <!-- Login ends -->
    
 </div>
</div>

