<div class="tabbable">
	<h3>Notifications</h3>
	<hr/>
	
	<table id="notifications">
	<thead>
	  <tr>
	    <th>Note</th>
	    <th>Table</th>
	    <th></th>
	  </tr>
	</thead>
	
	<tbody>
	</tbody>
	</table>

</div>

<script>
	function updateNotifications(){
		$.get('/notifications/refresh', function(data){
			$('#notifications tbody tr').remove();
			$('#notifications tbody').append(data);
		})
	}
	
	$(function(){
		updateNotifications();
		setInterval(updateNotifications, 15000);
	})
</script>
