<!-- Header starts -->
<header>
   <div class="container">
      <div class="row">
         <div class="span4">
            <!-- Logo and site link -->
            <div class="logo">
               <h1><a href="/">e-Chef<span class="color">.</span></a></h1>
            </div>
         </div>
         <div class="span4 offset4">
            <div class="list">
               <!-- Add your phone number here -->
               <div class="phone">
                  <i class="icon-phone"></i> Phone: 123-456-7890
               </div>
               <hr />
               <!-- Add your email id here -->
               <div class="email">
                  <i class="icon-envelope-alt"></i> Email: contact@e-chef.com
               </div>
               <hr />
               <!-- Add your address here -->
               <div class="address">
                  <i class="icon-home"></i> Address: Bucharest
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Header ends -->