<h2>My TODOs</h2>

<%= link_to "New Todo", "/todos/new" %>
<br />

<ul>
  <%# for todo in @todos %>
  <% @todos.each do |todo| %>
    <li>
      <%= todo[:title] %>
      <%= todo['title'] %>
    </li>
  <% end %>
</ul>
