<h2>New Task</h2>

<%= form_for @todo do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%#= f.label :user_id, "Assigned To" %>
  <%#= f.select :user_id, options_from_collection_for_select(User.all, 'id', 'name') %>
  <br />

  <%= f.submit "Create" %>
<% end %>
